body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    margin-left: 130px; 
}
header p {
    margin: 0;
}
header .social-icons {
    display: flex;
}

header em {
    margin-left: 10px;
}

section {
    padding: 20px;
}
/*pour tel */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px; /* Réduire la taille de la police pour les petits écrans */
    }

    header {
        padding: 10px; /* Réduire le rembourrage de l'en-tête */
    }

    h1 {
        margin-left: 20px; /* Ajuster la marge gauche du titre */
    }

    .image-container img {
        margin: 10px; /* Ajuster la marge des images */
        width: 150px; /* Réduire la largeur des images */
    }
}
/*pour tablette  */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px; /* Ajuster la taille de la police pour les tablettes */
    }

    header {
        padding: 15px; /* Ajuster le rembourrage de l'en-tête pour les tablettes */
    }

    h1 {
        margin-left: 50px; /* Ajuster la marge gauche du titre pour les tablettes */
    }

    .image-container img {
        margin: 15px; /* Ajuster la marge des images pour les tablettes */
        width: 175px; /* Ajuster la largeur des images pour les tablettes */
    }
}
.blue {
    color: rgba(0, 255, 255, 0.904);
}

.centered-words {
    display: flex;
    justify-content: center;
}

.centered-words p {
    margin: 0 10px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container img {
    margin: 20px;
    width: 200px; /* modifie la taille des images  */
    height: auto;
}
.yeseva-one-regular {
    font-family: "Yeseva One", serif; /*police phrase Hello*/
    font-weight: 400;
    font-style: normal;
}
.montserrat-header {
    font-family: "Montserrat", sans-serif; /*police reste texte hearder*/
    font-weight: 900;
    font-style: normal;
}

.montserrat-body {
    font-family: "Montserrat", sans-serif;/*police reste texte body*/
    font-weight: 500;
    font-style: normal;
}